
.Tooltip {
    width: 100%;
    height: 310px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tooltip-row-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-row-title p {
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
}

/**/

.TooltipUniEntry {
    width: 90%;
    height: 2.5em;
    margin-top: 0.6em;
    background-color: #E0E0E0;

    font-size: 0.9rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.half-logo-name {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.half-logo-name img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 5px 0 0 5px;
}

.half-logo-name p {
    margin-left: 0.6em;
}

/**/

.half-rank p {
    margin-right: 1em;
}



