

.card {
    border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 0 1px 4px #BBBBBB;
}

.card:hover {
    box-shadow: 0 2px 6px #BBBBBB;
}

p {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    color: #292929;
}

.non-text {
    cursor: default;
}





