body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.land {
  fill:rgb(141, 155, 136);
}
.interiors {
  fill: none;
  stroke: #C0C0BB;
  stroke-width: 1px;
}
.boundary {
  fill: #9a9e9e;
  stroke: #C0C0BB;
}

.sphere {
  fill:rgb(150, 209, 243);
}

/*circle {*/
/*  fill: rgb(218, 11, 11);*/
/*}*/